*{
    font-size: 10px;
}
.message ,#inp-message,.btn{
    font-size: 12px;
}
.container{
    max-width: 85%;
}

#send-container h4{
    margin-top: 0;
    padding-top: 0;
    font-size: 20px;
    color: #f3ff93;
    position: relative;
    top: -17px;
}

.btn{
    margin: 20px 0px;

}
#inp-message {
    width: 150%;
    font-size: 14px;
    display: block;
    margin-left: -56px;
}

::-webkit-scrollbar {           
    width: 7px;
  }

  
