@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

body{
    font-family: 'Recursive', sans-serif;
    margin: 0;

}

body::before{
  
    content: "";
    background: url(../img/bg2.jpg) no-repeat cente7 center/cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; 
    left: 0;
    z-index: -1;
    opacity: 0.9;
}

#logo{
    display: block;
    margin: auto;
    width: 80px;
    height: 80px;
}

.container{
max-width: 70%;
margin: 10px auto;
height: 65vh;
margin-bottom: 15px;
overflow-y: auto;
border-radius: 6px;

}

.message{
    background-color: #c4e69b;
    border-radius: 14px;
    font-size: 18px;
    margin: 10px 9px;
    padding: 6px 11px;
    
}

.left{
    float: left;
    clear: both;
    background-color: #cac3fc;
}

.right{
    float: right;
    clear: both;
}

#send-container{
    max-width: 50%;
    margin: auto;
    text-align: center;
    
}
#inp-message{
    outline: none;
    width: 80%;
    padding: 7px 12px;
    margin-right: 2px;
    border-radius: 7px;
    background-color: #eee2d5;
    border: 2px solid black;
    font-size: 17px;


}

#send-container h4{
    font-size: 20px;
    color: black; 
}
.btn{
    border-radius: 10px;
    padding: 6px 9px;
    margin: 2px 0px;
    background-color: blanchedalmond;
    color: #170202;
    cursor: pointer;
    font-size: 17px;
    cursor: pointer;
    border: 2px solid black;
    outline: none;
    margin-left: 2px;
}

.btn:hover{
    
        background-color: #faeb5b;
        color: rgb(0 0 0);
        border: 2px solid #4e8c06;
}
::-webkit-scrollbar {           
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #f8cfcf;
    border-radius: 10px;
  }